@import "@radix-ui/themes/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.radix-themes {
	--default-font-family: var(--font-inter);
  --background: none; /* Override Radix's background variable */
}

body {
  color: var(--foreground);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes anim {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%; /* Pivot point for waving effect */
  animation: wave 4s ease-in-out infinite; /* Longer duration for smoother wave */
}

/* Binder Paper Animation */
.binder-paper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #f3f3f3 90%, transparent 90.5%);
  background-size: 100% 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  animation: slide-in 2s forwards;
}

@keyframes slide-in {
  to {
    transform: translateY(0);
  }
}

/* Handwriting Effect */
.handwriting-animation {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: typing 3s steps(30, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: purple;
  }
}
